/* CSS declarations go here */
headerBar{
    
    height: 40px;
    background-color: #020A66;
    margin:0px;
    
    
}
#header{
    
    margin:5px;
    
}

body{

 font-family:"Avenir";  
 background-image:url("dragonRunBK.jpg");
 background-repeat:no-repeat;
 background-position:center top;
 background-size:cover;
 margin-left:auto;
 margin-right:auto;
 width:100%;
 z-index:-1;
    
    
}



table{
    
 border: 1px black solid;   
    
    
    
}

tr{
 border: 1px black solid;   
    
}
td{
 border: 1px black solid;   
 text-align:center;   
    
}
.centerText{
    
 text-align:center;
    
    
}
.HISGold{
    color: #EBA100;
    
}
.HISBlue{
    color: #020A66;
    opacity:1 ;
    
}



.HISGoldSolid{
    
  background-color:#EBA100;
    
}



#registrationList{
     
 background-color:white;
 
 margin: 5px;
 padding:10px;
    
    
       
    
    
}

#runnerRegistrationSummary{
    
width:50%;
margin-left:auto;
margin-right:auto;
background-color:#EBA100;
color:#020A66;
padding:30px;
font-size: 20px;
text-align: center;
    
    
}

.btn{
    
 background-color:#EBA100;
 border: solid 2px #020A66;
 font-size:20px;
 height:30px;
margin-left:auto;
margin-right:auto;
border-radius:5px;
margin-top:30px;
    
}
.btn:hover{
    
 background-color:#020A66;
 border: solid 2px #EBA100;
 color: #EBA100;
 font-size:20px;
 height:30px;
margin-left:auto;
margin-right:auto;
border-radius:5px;
    
}
#confirmStartRace{
width:200px;    
    
}
#raceConfiguration{
background:white;
margin:20px;
padding:20px;
    
}
.resultsList{
    
 background:#EBA100;
 color:#020A66;
 padding:10px;
 width:50%;
 font-size:20px;
 margin-left:auto;
 margin-right:auto;
    
}
.resultsTable{
    width:100%;
}

#officialRaceTime{
 background:#EBA100;
 color: #020A66;
 margin-top:-120px;
 font-size:50px;
 
}
#officialRaceTimeBlock{
   
 font-size: 450px;
 margin-top:-100px;
 margin-left:auto;
 margin-right:auto;
 
     
    
}

#smallRaceTimeBlock{
 background:#EBA100;
 color: #020A66;   
 font-size: 32px;
 margin-left:auto;
 margin-right:auto;
 width:40%;
    
}

#connectionIndicator{
    
border-radius:5px;
width:10px;

height:10px;
margin-left:10px;
display:inline;
    
}

#flaggingRunners{
 background:#EBA100;
 color:#020A66;   
 width:60%;

 margin-left:auto;
 margin-right:auto;
 border-radius:5px;
 padding:10px;   
    
    
    
}

#flaggingRunnersRight{
 background:#EBA100;
 color:#020A66;   
 width:45%;
 float:right;
 margin-left:auto;
 margin-right:20px;
 border-radius:5px;
 padding:10px;
    
}
#flaggingRunnersLeft{
background:#EBA100;
 color:#020A66;   
 width:45%;
 float:left;
 margin-left:20px;
 margin-right:auto;
 border-radius:5px;
 padding:10px;    
    
    
    
}

.estimatedTimeTable{
    
 width:150px;
vertical-align: top;
    
}

#flaggingRunnersInput{
height:100px;
font-size: 40px;
width:200px;
    
    
}
#flaggingRunnersButton{
width:100px;
font-size:20px;
margin:10px;
    
    
}

#flaggedRunnersList{
    
 width:40%;
 margin-left:auto;
 margin-right:auto;
    
    
}

.flaggedRunnersButton{
    
 background-color:#EBA100;
 border: solid 2px #020A66;
 font-size:100px;
 height:120px;
margin-left:auto;
margin-right:auto;
border-radius:5px;
margin-top:30px;
    
}
.flaggedRunnersButton:hover{
    
 background-color:#020A66;
 border: solid 2px #EBA100;
 color: #EBA100;
 font-size:100px;
 height:120px;
margin-left:auto;
margin-right:auto;
border-radius:5px;
    
}
.tone{
    
 display:none;   
    
}
#loading{
 background-color:#020A66;
 width:50%;
 margin-left:auto;
 margin-right:auto;
 color: #EBA100;
}
#loggingIn{
 background-color:#EBA100;
 width:50%;
 margin-left:auto;
 margin-right:auto;
 color: #020A66;
}

#resultsMainPage{
 background:#EBA100;
 color:#020A66;   
 width:50%;
 margin-left:auto;
 margin-right:auto;
 border-radius:5px;
 padding:10px;       
    
    
    
}